p {
    font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    size: 10;
}

body {
    background-color: whitesmoke;
}

#main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}